/* MAIN ACTIVITY */
.activity {
    background-color: rgb(245, 245, 245);
    border: solid 8px rgb(0, 0, 0);
    border-radius: 8px;
    left: 50%;
    padding: 16px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.activity-cancel {
    height: 32px;
    width: 96px;
}

.activity-win {
    align-items: center;
    background-color: rgb(245, 245, 245);
    border: solid 8px rgb(0, 0, 0);
    border-radius: 8px;
    bottom: 64px;
    display: flex;
    gap: 2px;
    justify-content: center;
    left: 32px;
    padding: 16px;
    z-index: 100;
}

.activity-win-message {
    font-size: 16px;
    text-align: center;
}

.activity-win-item {
    height: 32px;
    width: 32px;
}

/* ACTIVITY BUG */
.activity-bug {
    align-items: center;
    display: flex;
    gap: 32px;
    height: 128px;
    justify-content: center;
    padding: 0px 16px;
    text-align: center;
}

.activity-bug-score {
    display: flex;
    flex-direction: column;
    width: 128px
}

.activity-bug-score-label {
    font-size: 24px;
    text-align: center;
}

.activity-bug-symbol {
    align-items: center;
    display: flex;
    font-size: 32px;
    gap: 32px;
    justify-content: center;
}

.activity-bug-symbol-value {
    font-weight: bold;
    text-align: center;
}

.activity-bug-symbol-found {
    background-position: center center;
    background-repeat: no-repeat;
    height: 64px;
    width: 128px
}

/* ACTIVITY FISH */
.activity-fish {
    align-items: center;
    display: flex;
    gap: 32px;
    height: 192px;
    justify-content: center;
    padding: 0px 16px;
    text-align: center;
}

.activity-fish-hp-bars {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.activity-fish-hp {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.activity-fish-hp-label {
    font-size: 24px;
    text-align: left;
    width: 32px;
}

.activity-fish-rod-tension {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.activity-fish-rod-tension-label {
    font-size: 24px;
    text-align: left;
    width: 32px;
}

.activity-fish-key {
    font-size: 32px;
}

.activity-fish-frenzy {
    align-items: center;
    display: flex;
    gap: 8px;
}

.activity-fish-frenzy-label {
    font-size: 32px;
    font-weight: bold;
}

.activity-fish-frenzy-value {
    height: 64px;
    width: 64px;
}

/* ACTIVITY CRAFT */
.activity-craft {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 16px;
    text-align: center;
}

.activity-craft-recipes {
    align-items: center;
    display: flex;
    height: 512px;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    width: 512px;
}

.activity-craft-recipe {
    align-items: center;
    border: solid 4px rgb(0, 0, 0);
    border-radius: 8px;
    display: flex;
    gap: 32px;
    padding: 8px;
    width: 100%;
}

.activity-craft-recipe-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activity-craft-recipe-item-icon {
    height: 64px;
    width: 64px;
}

.activity-craft-recipe-ingredients {
    display: flex;
    gap: 16px;
}

.activity-craft-recipe-ingredient {
    align-items: center;
    display: flex;
    gap: 4px;
}

.activity-craft-recipe-ingredient-icon {
    height: 32px;
    width: 32px;
}

.activity-craft-progress {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: center;
}

.activity-craft-progress-label {
    font-size: 32px;
}

.activity-craft-key {
    font-size: 32px;
}