.energy {
    align-items: center;
    background-color: rgb(91, 48, 38);
    border-radius: 8px;
    bottom: 8px;
    display: none;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    padding: 8px;
    right: 16px;
    z-index: 100;
}

.energy-slot {
    background-color: rgb(231, 210, 75);
    border-radius: 8px;
    height: 8px;
    width: 16px;
}