@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_ub.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_eb.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_b.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_m.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_l.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

* {
    cursor: none;
}

body {
    font-family: 'Font1';
    font-weight: 600;
}

div {
    background-size: contain;
}

/* LOADING */
.loading {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.995);
    display: none;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 100;
}

.loader {
    border-top: 16px solid rgb(97, 243, 81);
    border-right: 16px solid rgb(28, 219, 28);
    border-bottom: 16px solid rgb(29, 170, 29);
    border-left: 16px solid rgb(34, 123, 34);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ERROR */
.error {
    border: 5px solid rgb(212, 15, 15);
    border-radius: 10px;
    bottom: 32px;
    background-color: rgb(245, 245, 245);
    display: none;
    font-size: 16px;
    left: 50%;
    padding: 8px 16px;
    transform: translateX(-50%);
    z-index: 200;
}