@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_ub.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_eb.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_b.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_m.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_l.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Font1';
    font-weight: 600;
}