@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_ub.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_eb.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_b.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_m.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Font1';
    src: url('/src/assets/fonts/font1_l.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

* {
    cursor: none;
    scrollbar-color: #454a4d #202324;
}

body {
    font-family: 'Font1';
    font-weight: 600;
    height: 100%;
}

div {
    background-size: contain;
}

.app {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

/* FRAME */
.frame {
    background-color: rgb(0, 0, 0);
    border: 12px solid rgb(91, 48, 38);
    border-radius: 20px;
    display: block;
    height: 640px;
    left: 50%;
    margin-bottom: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1450px;
}

.ui {
    height: 100%;
    width: 100%;
}

/* LOADING */
.loading {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.995);
    display: none;
    height: 100%;
    justify-content: center;
    width: 100%;
    z-index: 100;
}

.loader {
    border-top: 16px solid rgb(97, 243, 81);
    border-right: 16px solid rgb(28, 219, 28);
    border-bottom: 16px solid rgb(29, 170, 29);
    border-left: 16px solid rgb(34, 123, 34);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ERROR */
.error {
    background-color: rgb(182, 103, 77);
    border: 5px solid rgb(91, 48, 38);
    border-radius: 10px;
    bottom: 8px;
    color: rgb(255, 241, 216);
    display: none;
    font-size: 16px;
    left: 50%;
    padding: 8px 16px;
    transform: translateX(-50%);
    z-index: 200;
}

/* GAME */
.player {
    transition: 0.1s all;
}