.inventory {
    background-color: rgb(91, 48, 38);
    border-radius: 8px;
    bottom: 8px;
    display: none;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%);
    z-index: 100;
}

.inventory-slot {
    background-color: rgb(182, 103, 77);
    background-repeat: no-repeat;
    border-radius: 8px;
    box-sizing: border-box;
    height: 64px;
    width: 64px;
}

.inventory-slot-amount {
    bottom: 3px;
    color: rgb(255, 241, 216);
    font-size: 12px;
    height: 16px;
    padding: 0px 0px 2px 0px;
    right: 3px;
    text-align: center;
}

.inventory-options {
    background-color: rgb(182, 103, 77);
    border: solid 8px rgb(91, 48, 38);
    border-radius: 8px;
    color: rgb(255, 241, 216);
    display: none;
    flex-direction: column;
    padding: 8px;
    right: 330px;
    top: 484px;
    z-index: 100;
}

.inventory-tools {
    align-items: center;
    background-color: rgb(91, 48, 38);
    border-radius: 8px;
    display: none;
    gap: 4px;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.inventory-tool-slot {
    background-color: rgb(182, 103, 77);
    background-repeat: no-repeat;
    border-radius: 8px;
    box-sizing: border-box;
    height: 64px;
    width: 64px;
}

.inventory-tool-active {
    align-items: center;
    background-color: rgb(182, 103, 77);
    background-repeat: no-repeat;
    border: solid 4px rgb(91, 48, 38);
    border-radius: 8px;
    bottom: 8px;
    display: none;
    height: 64px;
    justify-content: center;
    padding: 4px;
    right: 64px;
    width: 64px;
    z-index: 100;
}