.secret-path {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.secret-win {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 100;
}