.tilemap {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    left: 50%;
    top: 50%;
    padding: 36px 0px 0px 36px;
    transition: 0.1s transform;
}

.tilemap-chunk {
    width: 720px;
    height: 720px;
}